/* Table of contents, with nested numbering system */

.atoc ul {
    list-style: disc inside;
    padding: 0;
    margin: 0;
}

.atoc ol {
    list-style: decimal inside;
	padding: 0;
    margin: 0;
}

.atoc ol > li::marker {
    content: counters(list-item,".") ". ";
}
